@font-face {
  font-family: 'Roboto-Bold';
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header {
  min-height: 100vh;
  background: #363636 url("../../images/header-bg.png") no-repeat;
  background-size: cover;
  padding: 0 5rem;
  padding-top: 34px;
}

.header-top {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 8rem;
}

.header-top-left {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top-right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top-logo {
  width: 60px;
  height: 60px;
  margin-right: 11px;
}

.header-top-logo__name {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Roboto-Bold', sans-serif;
  line-height: 2.4rem;
  font-size: 2.8rem;
  color: #fff;
}

.header-top-phone {
  margin-right: 6rem;
}

.header-top-phone__icon {
  color: #fff;
  margin-right: 10px;
}

.header-top-phone__text {
  display: block;
  color: #fff;
  font-size: 1.2rem;
  line-height: 2.4rem;
  font-weight: 300;
}

.header-top-phone__link {
  display: block;
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 2.1rem;
  font-weight: 500;
}

.header-top-phone__link:hover {
  text-decoration: underline;
}

.header-top-menu:hover {
  cursor: pointer;
}

.header-top-menu__icon {
  display: block;
  width: 46px;
  height: 21px;
  background-image: url("../../images/menu-icon.svg");
  margin-bottom: 9px;
}

.header-top-menu__text {
  display: block;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
  text-transform: uppercase;
}

.header-title {
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 4.4rem;
  margin-bottom: 1.5rem;
}

.header-title-description {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.4rem;
  margin-bottom: 50px;
}

.header-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 0 auto;
  max-width: 954px;
  height: 8rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 5rem;
}

.header-request-text {
  display: block;
  color: #fff;
  font-family: 'Roboto-Light', sans-serif;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 200;
  line-height: 2.8rem;
  opacity: .8;
  margin-bottom: 8rem;
}

.header-request-input {
  position: relative;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 29rem;
  height: 5.1rem;
  margin-right: 9px;
  margin-bottom: 20px;
  padding: 2rem 2.5rem;
  background-color: #fff;
  border: none;
  border-radius: 25px;
  outline: none;
}

.header-request-input:last-of-type {
  margin-right: 0;
}

.header-request-button {
  position: absolute;
  height: 6rem;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-request-small {
  display: block;
  text-align: center;
  color: #fff;
  opacity: .7;
  font-size: 1.4rem;
}

@media screen and (max-width: 992px) {
  .header-request {
    padding: 0 9px;
  }
  .header-request-input {
    margin-right: 5px;
    margin-left: 5px;
  }
  .header-request-input:last-of-type {
    margin-right: 5px;
  }
  .header-request-button {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 5px;
    width: 29rem;
    height: 6rem;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

@media screen and (max-width: 768px) {
  .header-request {
    border: none;
  }
}

@media screen and (max-width: 768px) {
  .header-top-phone {
    display: none;
  }
  .header-top-phone__icon {
    font-size: 0 !important;
  }
}

@media screen and (max-width: 576px) {
  .header-request {
    height: 100%;
  }
  .header-request-input {
    position: static;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .header-request-button {
    position: static;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .header-request-small {
    font-size: 1.6rem;
  }
}

.service-block {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-bottom: 20px;
  width: 320px;
  padding: 0 15px;
  overflow: hidden;
}

.service-block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-block-title {
  margin: 0;
  color: #19b5fe;
  font-family: 'Roboto-Light', sans-serif;
  font-size: 2.8rem;
  font-weight: 300;
}

.service-block-description {
  color: #464646;
  font-family: 'Roboto-Light', sans-serif;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.service-block-img img {
  height: 100%;
  width: 100%;
}

.service-block .button-service {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.service-block:hover .button-service {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (max-width: 576px) {
  .service-block {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    margin-bottom: 10px;
  }
  .service-block-text {
    text-align: center;
  }
  .service-block .button-service {
    display: none;
  }
  .service-2 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .service-5 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.process-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.process-block-description {
  font-family: 'Roboto-Light', sans-serif;
  color: #464646;
  font-size: 3rem;
  font-weight: 300;
  line-height: 3rem;
}

.process-block-img img {
  height: 100%;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

.section {
  padding-top: 50px;
}

.section-title {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #363636;
  font-size: 3.6rem;
  font-weight: 300;
  line-height: 3.8rem;
  margin-bottom: 6rem;
}

.section-title:after {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(22px);
          transform: translateX(-50%) translateY(22px);
  content: '';
  display: block;
  width: 37.5rem;
  height: 1px;
  background-color: #19b5fe;
}

.wrapper {
  margin: 0 auto;
  max-width: 1140px;
}

.wrapper-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper-process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  padding: 2rem 5rem;
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  border-radius: 3rem;
  background-color: #19b5fe;
  outline: none;
  -webkit-transition: background-color ease 0.2s;
  transition: background-color ease 0.2s;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(25, 181, 254, 0.8);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.button-service {
  padding: 2rem 3rem;
  max-width: 18rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.button-hide {
  display: none;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 7px;
  }
  .wrapper-services {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .button-hide {
    display: block;
    -webkit-box-ordinal-group: 100;
        -ms-flex-order: 99;
            order: 99;
  }
}
