@import 'fonts';
@import 'variables';
@import 'sections/header';



* {
  box-sizing: border-box;
}
html {
  font-size: $font-lg;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  @include regular;
}
.wrapper {
  margin: 0 auto;
  max-width: 1140px;
}
.button {
  padding: 2rem 5rem;
  @include regular;
  color: $white;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  border-radius: 3rem;
  background-color: $blue;
  outline: none;
}
@media screen and (max-width: 992px) {
  html {
    font-size: $font-md;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: $font-sm ;
  }
}