@import 'fonts';
@import 'variables';
@import 'sections/header';
@import 'sections/service';
@import 'sections/price';
@import 'sections/process';
@import 'sections/advantage';
@import 'sections/portfolio';
@import 'sections/blog';
@import 'sections/team';
@import 'sections/question';
@import 'sections/map';
@import 'sections/footer';

* {
  box-sizing: border-box;
}
html {
  font-size: $font-lg;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  @include regular;
}
.section {
  padding: 0 10px;
  padding-top: 5rem;
  padding-bottom: 5rem; 
  &-title {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    color: $title;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 3.8rem;
    margin-bottom: 6rem;
    &:after {
      position: relative;
      left: 50%;
      transform: translateX(-50%) translateY(22px);
      content: '';
      display: block;
      width: 37.5rem;
      height: 1px;
      background-color: $blue;
    }
  }
  &-half {
    min-height: 50vh;
    &-title {
      color: $white;
      margin-bottom: 4rem;
      &:after {
        position: relative;
        left: 50%;
        transform: translateX(-50%) translateY(22px);
        content: '';
        display: block;
        width: 37.5rem;
        height: 1px;
        background-color: $white;
      }
    }
    &-description {
      margin: 0;
      text-align: center;
      @include light;
      color: $white;
      font-size: 2.6rem;
      line-height: 3.8rem;
      font-weight: 300;
      margin-bottom: 4rem;
    }
  }
}
.wrapper {
  margin: 0 auto;
  max-width: 1140px;
  &-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-process {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &-advantage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-blog {
    display: flex;
    justify-content: space-between;
  }
  &-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-question {
    max-width: 1070px;
    display: flex;
    justify-content: space-between;
  }
  &-price {
    display: flex;
    justify-content: space-between;
  }
}
.button {
  padding: 2rem 5rem;
  @include regular;
  color: $white;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  border-radius: 3rem;
  background-color: $blue;
  outline: none;
  transition: background-color ease 0.2s;
  &:hover {
    cursor: pointer;
    background-color: lighten($blue, 13%);
    transition: background-color 0.2s;
  }
  &-service {
    padding: 2rem 3rem;
    max-width: 18rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  &-question {
    padding: 20px 45px;
    max-width: 213px;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  &-hide {
    display: none;
  }
  &-price {
    margin: 15px 0 20px 0;
    max-height: 50px;
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: $font-md;
  }
  .section {
    &-half {
      padding-bottom: 7rem;
    }
  }
  .wrapper {
    padding: 0 20px;
    &-question {
      flex-wrap: wrap;
      justify-content: center;
    }
    &-price {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .button-question {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 992px) {
  .wrapper {
    &-team {
      justify-content: space-around;
    }
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: $font-sm;
  }
  .wrapper {
    padding: 0;
    &-services {
      justify-content: center;
    }
  }
  .button {
    &-hide {
      display: block;
      order: 99;
    }
  }
}