.question {
  background: $title url('../../images/question-bg.png') no-repeat center;
  background-size: cover;
  &-description {
    margin: 0;
    text-align: center;
    @include light;
    color: $white;
    font-size: 2.6rem;
    line-height: 3.8rem;
    font-weight: 300;
    margin-bottom: 4rem;
  }
  &-form {
    flex-basis: 69%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-row {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &-input {
      flex-basis: 31%;
      flex-shrink: -1;
      padding: 20px;
      height: 5rem;
      margin-bottom: 13px;
      outline: none;
      border-radius: 10px;
      border: none;
      color: #606060;
      @include light;
    }
    &-area {
      width: 100%;
      max-height: 123px;
      margin-bottom: 1.7rem;
      padding: 20px;
      border-radius: 10px;
      border: none;
      outline: none;
      color: #606060;
      @include light;
    }
    &-button {
      padding: 20px 45px;
      max-width: 213px;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
  &-contacts {
    flex-basis: 27%;
    &-list {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    &-item {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
    }
    &-link {
      display: block;
      color: $white;
      text-decoration: none;
      @include medium;
      font-size: 1.8rem;
      font-weight: 500;
      &:hover {
        text-decoration: underline;
      }
    }
    &-image {
      position: relative;
      display: block;
      width: 27px;
      height: 27px;
      border: 1px solid $white;
      margin-right: 14px;
      border-radius: 3px;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 12px;
        max-height: 12px;
      }
    }
    &-schedule {
      display: block;
      @include light;
      color: $white;
      font-size: 1.6rem;
      font-weight: 300;
    }
  }
}
@media screen and (max-width: 992px) {
  .question {
    &-form {
      flex-basis: 90%;
      &-input {
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
    &-contacts {
      flex-basis: 80%;
      &-list {
        flex-direction: row;
        height: 90px;
        flex-wrap: wrap;
      }
      &-item {
        flex-basis: 50%;
        margin-bottom: 15px;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .question {
    &-form {
      flex-basis: 80%;
      max-width: 300px;
      &-row {
        flex-wrap: wrap;
      }
      &-input {
        flex-basis: 100%;
        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }
    &-contacts {
      flex-basis: 70%;
      max-width: 300px;
      &-list {
        flex-direction: column;
        height: 100%;
        flex-wrap: nowrap;
      }
      &-item {
        flex-basis: 100%;
        &:last-child {
          order: -1;
        }
      }
    }
  }
}