.service {
  &-block {
    flex-basis: 50%;
    margin-bottom: 20px;
    width: 320px;
    padding: 0 15px;
    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &-title {
      margin: 0;
      color: $blue;
      @include light;
      font-size: 2.8rem;
      font-weight: 300;
    }
    &-description {
      color: $text;
      @include light;
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
    &-img {
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  &-2 {
    order: -1;
  }
  &-5 {
    order: 6;
  }
}
@media screen and (max-width: 576px) {
  .service {
    &-block {
      flex-basis: 90%;
      &-text {
        margin-bottom: 30px;
      }
    }
  }
}